
  <form action="<?php echo empty($item) ? getUrl($this, 'insert') : getUrl($this, 'update', $item['id']); ?>" name="myform" method="POST">
	<br/>
	<?php //$this->renderForm ('myform');?>
	<br/>
	firstname:
	<?php echo $this->getText('name'); ?>
	<br/>

	<input type="submit" name="submit" value="Send" />
	<input type="hidden" name="action"  value="<?php echo !empty($item) ? 'update' : 'insert';?>" />
<?php if (!empty($item)) : ?>
	<input type="hidden" name="contacts[id]" value="<?php echo $id; ?>" />
<?php endif; ?>
	</form>
	<br/>
	<?php $this->renderForm('myform'); ?>
	