<TABLE>
<tr>
  <th>First</th>
  <th>Last</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Comment</th>
  <th>Action</th>
</tr>		
<?php foreach ($fields as $key=>$value) : ?>
<tr>
  <td><?php echo $value['title'] ?></td>
  <td><?php echo $value['position']; ?></td>
  <td><?php echo $value['enabled']; ?></td>
  <td><?php echo $value['data_created']; ?></td>
  <td><?php echo $value['data_modified']; ?></td>
  <td>
    <a href="<?php echo getUrl($this->getName(),'delete', intval($value['id'])); ?>">delete</a> |
    <a href="<?php echo getUrl($this->getName(),'modify', intval($value['id'])); ?>">edit</a>
  </td>
</tr>
<?php endforeach; ?>		
</TABLE>
<a href="<?php echo getUrl($this->getName(), 'create'); ?>">ADD</a>
<br/>
<?php echo $this->pagenator(); ?>