<!DOCTYPE html>
<html>
	<head>
		<title>My framework</title>
		<link rel="stylesheet" href="style.css" type="text/css" >
		<script type="text/javascript" src="main.js"></script>
		<style type="text/css">
			BODY { 
			 margin: 0;
			 background: #6d8dae;		
			}
			.layout{
			 width: 980px;
		   	 margin: auto;
		   	 background: #d3dfe9;
			}
			.wrap{
			 margin-top: 10px;
			 padding: 20px;	
			}
			TABLE{
			 background: #d1a4b6;
			 border: 5px double #000;
			}
			TD, TH{
			 padding: 5px;
			 border: 1px solid #fff;
			}
			input[type="text"]{
			 background: #d1a4b6;
			 padding-left: 24px;
			 padding-right: 10px;
			 padding-top: 2px;
			 margin: 2px 2px 2px 10px;
			}
			input[type="submit"]{
			 background: #af3968;
			}
		</style>
	</head>
<body>
	<div class="layout">
		<div class="userbar">
			login
			logout
			register
		</div>
		<div class="wrap">
			<div>
				<?php echo $content;?>
				<ul class="menu">
					<li> <a href="<?php echo $this->getLink('users', 'index'); ?>"> users </a> </li>
					<li> <a href="<?php echo $this->getLink('contacts', 'index');?>"> contacts </a> </li>
					<li> <a href="<?php echo $this->getLink('pages', 'index');?>"> pages </a> </li>
				</ul>
			</div>
		</div>
		
	</div>	
</body>
</html>