 <form action="<?php echo empty($item) ? getUrl($this->getName(), 'insert') : getUrl($this->getName(), 'update', $item['id']); ?>" name="myform" method="POST">
	<br/>
	<?php //$this->renderForm ('myform');?>
	<br/>
	firstname:
	<?php echo $this->getText('first_name'); ?>
	<br/>
	lastname:
	<?php echo $this->getText('last_name'); ?>
	<br/>
	login:
	<?php echo $this->getText('login'); ?>
	<br/>
	password:
	<?php echo $this->getText('password'); ?>
	<br/>
	email: 
	<?php echo $this->getText('email'); ?>
	<br/>
	<input type="submit" name="submit" value="Send" />
	<input type="hidden" name="action"  value="<?php echo !empty($item) ? 'update' : 'insert';?>" />
<?php if (!empty($item)) : ?>
	<input type="hidden" name="contacts[id]" value="<?php echo $item['id']; ?>" />
<?php endif; ?>
	</form>
	<br/>
	