<table>
<tr>
  <th>Firstname</th>
  <th>Lastname</th>
  <th>Login</th>
  <th>Password</th>
  <th>Email</th>
  <th>Action</th>
</tr>		
<?php foreach ($fields as $key=>$value) : ?>
<tr>
  <td><?php echo $value['first_name'] ?></td>
  <td><?php echo $value['last_name']; ?></td>
  <td><?php echo $value['login']; ?></td>
  <td><?php echo $value['password']; ?></td>
  <td><?php echo $value['email']; ?></td>
  <td>
    <a href="<?php echo getUrl($this->getName(), 'delete', intval($value['id'])); ?>">delete</a> |
    <a href="<?php echo getUrl($this->getName(), 'modify', intval($value['id'])); ?>">edit</a>
  </td>
</tr>
<?php endforeach; ?>		
</table>
<a href="<?php echo getUrl($this->getName(), 'create'); ?>">ADD</a>