<TABLE>
<tr>
  <th>First</th>
  <th>Last</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Comment</th>
  <th>Action</th>
</tr>		
<?php foreach ($fields as $key=>$value) : ?>
<tr>
  <td><?php echo $value['first_name'] ?></td>
  <td><?php echo $value['last_name']; ?></td>
  <td><?php echo $value['email']; ?></td>
  <td><?php echo $value['phone']; ?></td>
  <td><?php echo $value['comment']; ?></td>
  <td>
    <a href="<?php echo getUrl($this->getName(),'delete', intval($value['id'])); ?>">delete</a> |
    <a href="<?php echo getUrl($this->getName(),'modify', intval($value['id'])); ?>">edit</a>
    <a href="<?php echo getUrl($this->getName(),'ajaxshow', intval($value['id'])); ?>" id="show-item-<?php echo intval($value['id']); ?>" 
    														class="show-details"
    														onclick="showItemDetails(); return false;">show</a>
  </td>
</tr>
<?php endforeach; ?>		
</TABLE>
<a href="<?php echo getUrl($this->getName(), 'create'); ?>">ADD</a>
<br/>

<div id="details-ajax">
</div>
<?php // echo $this->pagenator(); ?>